<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">
<ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc button-top16"></button>
  </ion-nav-buttons>
  <ion-nav-buttons>
    <h1 class="title">
      <div class="headmain_hd" >Contact</div>
    </h1>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name" />
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" />
      </label>
      <label class="item item-input">
        <span class="input-label">Comments</span>
      </label>
      <label class="item item-input">
        <textarea placeholder="What's on your mind?" rows="10"></textarea>
      </label>
      <label class="item">
        <button class="button button-block button-positive">
          <i class="icon ion-ios7-email-outline"></i> &nbsp;Send
        </button>
      </label>
    </div>
  </ion-content>
</ion-view>

<!--
<style type="text/css">
    .headmain_hd {
    margin-top: 0 !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
-->
