<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">
<ion-side-menus class="menuBar">
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear button-top25"><i class="icon ion-ios7-arrow-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive rg37">
      <!-- <h1 class="title"> -->
      <!-- <div class="headmain_hd getbst">Menu</div> -->
      <img src="img/menu-logo.png" class="rg36" />
      <!-- </h1> -->
    </header>
    <ion-content class="has-header rg39">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/upcoming" class="rg40">
          <!-- <i class="icon ion-ios7-home-outline icon-big" ></i> -->
          <div class="new-menu02">
            <div class="new-menu01">
              <img src="img/menu-home.png" />
            </div>
          </div>
          <div class="new-menu03">Home</div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile" class="rg40">
          <!-- <i class="icon ion-ios7-person-outline icon-big"></i> -->
          <div class="new-menu02">
            <div class="new-menu01">
              <img src="{{profile.PicUrl}}" />
            </div>
          </div>
          <div class="new-menu03" style="bottom: 6px;">Profile</div>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="share()" class="rg40 rg41">
          <!-- <i class="icon ion-ios7-upload-outline icon-big"></i> -->
          <div class="new-menu02">
            <div class="new-menu01">
              <img src="img/menu-invite.png" />
            </div>
          </div>
          <div class="new-menu03">Invite</div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/contact" class="rg40">
          <!-- <i class="icon ion-ios7-email-outline icon-big"></i> -->
          <div class="new-menu02">
            <div class="new-menu01">
              <img src="img/menu-contact.png" />
            </div>
          </div>
          <div class="new-menu03" style="bottom: 2px;">Contact Us</div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about" class="rg40">
          <!-- <i class="icon ion-ios7-information-outline icon-big"></i> -->
          <div class="new-menu02">
            <div class="new-menu01">
              <img src="img/menu-about.png" />
            </div>
          </div>
          <div class="new-menu03">About</div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<style type="text/css">
.item-content,
.rg41 {
  background: #202020 !important;
  color: #ffffff !important;
  border-bottom: 3px solid #343434 !important;
  margin-bottom: 0px !important;
  border-left: 6px solid #2b5789 !important;
}
.item-content-active {
  background: #2c2c2c !important;
}
</style>
