<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">
<style type="text/css">
.headmain_hd {
  margin-top: 12px !important;
  font-size: 13pt !important;
}
.button.button-clear {
  font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons {
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
<ion-view hide-back-button="false">
  <!--<ion-nav-buttons side="left" >
    <a class="button button-clear button-top25" href="#/app/upcoming">
      Cancel
    </a>
  </ion-nav-buttons>-->
  <ion-nav-buttons>
    <h1 class="title">
      <div class="headmain_hd getbst">Get Boost</div>
    </h1>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="card ourwrap" style="box-shadow: none;">
      <div class="item item-text-wrap ourinnerwrap" style="border: none;">
        <h3 class="willsmith" style="font-size: 14pt !important; color: #3873b4 !important;">{{details.RequestUserName}} is your Booster!</h3>
        <div class="clntpartbg">
          <span><img src="{{details.RequestPicUrl}}" alt="" /></span>
          <span class="dlfrad"><img src="img/rencr.png" alt="" /></span>
          <span><img src="{{details.UserPicUrl}}" alt="" /></span>
        </div>
        <div class="totip" style="font-size: 16pt;">To</div>
        <div class="gotogymhdfgy item-input rg54">
          {{details.Text}}
        </div>
        <a ng-show="details.Status == 'A' && !details.HasSelfie " class="button button-block button-positive tackbtn" href="#/app/takeselfie" style="padding: 0px;border: none !important;background: none !important;"><img src="img/take-selfie.png" alt="" style="width:92%; margin-left: 4%; margin-right: 4%;" />
        </a>

        <img ng-show="!(details.Status == 'A' && !details.HasSelfie)" class="takeSelfieDisabled" style="margin:0 5% 0 5%;width:90%;" src="http://lin-res.mapitpix.com/Booster/ionic_git/www/img/takeselfie_disabled.png" />

        <button ng-show="details.HasSelfie" class="button button-outline button-full button-positive">
          You already sent a selfie for this Boost request.
        </button>
        <button ng-show="details.Status == 'P'" class="button button-outline button-full button-positive">
          Take selfie will be available after your Booster accepts your Boost Call.
        </button>
        <button ng-show="details.Status == 'D'" class="button button-outline button-full button-positive">
          Booster declined your request.
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
