<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">

<!--
<div class='tut1Upcoming'>
   <img src={{pngPath}}> 
 </div>
-->

<!--
<div ng-show="isTutUpcoming1" ng-click="showTutUpcoming1(false)" href="#/app/getboost/0" style="position: relative; top: 0; left: 0; z-index: 9; height: 100%; width: 100%;">
   <img src="img/tut_newboost.png" style="height: 100%; width: 100%;"> 
 </div>
-->

<!--
<div ng-show="isTutUpcoming2" ng-click="showTutUpcoming2(false)" class='tutFirstBoost'>
  <img src="img/tut_afterboost.png">
</div> 
-->

<style type="text/css">
.bar.bar-positive {
    background: #48bd3c;
}
</style>
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;>
    <img style=" width: 100%; height: 100%; src='img/botlogo.png' />
</div>
<ion-view hide-back-button="true" title="" ng-init="myOnInit()">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc margin-top10"></button>
    </ion-nav-buttons>
    <ion-nav-buttons>
        <h1 class="title">
      <div class="headmain_hd">{{profile.Name}}</div>
      <div class="subhd_hed">
        {{profile.Level}} <span class="ion-star rg80">{{profile.GiveBoostPoint+profile.GetBoostPoint}}</span>
      <div>
    </h1>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-show="getNotificationCount() > 0" class="count">{{getNotificationCount()}}</span>
        <a href="#/app/notification" class="button button-icon ion-ios7-bell-outline toperthionc" ng-class="getClassBell()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-class="getClassIonContent()" ng-init="myOnInit()">
        <div class="list">
            <div ng-repeat="item in list">
                <a class="item item-thumbnail-left firstpartbgtab" href="#app/selfie/{{item.BoostId}}" ng-show="item.IsGetBoost">
                    <div class="user_pic rg23">
                        <img src="img/pic_frem.png" alt="Frame" />
                        <span><img src="{{item.RequestPicUrl}}" alt="" class="rg21" /></span>
                        <img ng-show="item.Status == 'P'" src="img/asking-status.png" class="rg1">
                        <img ng-show="item.Status == 'A'" src="img/accepted-status.png" class="rg1">
                        <img ng-show="item.Status == 'D'" src="img/declined-status.png" class="rg1">
                    </div>
                    <div class="userinfo">
                        <h2><span>Get a Boost from</span> <br />{{item.RequestUserName}}</h2>
                        <h3>{{item.Text}}</h3>
                        <h4>{{item.EventDateString}} {{alert(item.EventTime)}}</h4>
                    </div>
                </a>

                <div class="rg2" ng-show="!item.IsGetBoost" ng-click="sendPoke(item)">
                    <a class="item item-thumbnail-left secondpartbgtab">
                        <div class="userinfo_second">
                            <h2><span>Give a Boost to</span> <br />{{item.RequestUserName}}</h2>
                            <h3>{{item.Text}}</h3>
                            <h4 class="rg6 rg24">{{item.EventTime}} {{item.EventDateString }}</h4>
                        </div>
                        <img class="pokeIcon" src="http://lin-res.mapitpix.com/Booster/ionic_git/www/img/poke_off.png" />
                        <div class="user_picsecond rg22">
                            <img src="img/right_side.png" alt="" />
                            <span><img src="{{item.RequestPicUrl}}" class="rg3" alt="" /></span>
                        </div>
                    </a>
                </div>
            </div>
            <a class="item item-thumbnail-left secondpartbgtab rg55">
            </a>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top border-none">
        <a class="tab-item bg-green" href="#/app/upcoming">
            <img src="img/calendar-icon.png" class="rg4"> Coming Up
        </a>
        <a style="visibility: hidden;" ref="#/app/getboost/0">
            Add Boost
        </a>
        <a href="#/app/getboost/0">
            <img src="http://lin-res.mapitpix.com/Booster/ionic_git/www/img/addboost.png" style="width:40%; bottom:-20%; left:30%; position:absolute; margin:5px 0px 5px 0px;" />
        </a>
        <a class="tab-item bg-purple" href="#/app/completed">
            <img src="img/completed-icon.png" class="rg4 rg4b"> Your Success
        </a>
    </div>
</ion-view>
