.icon.tab-feed-enabled {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('img/BottomBar/tab-feed-enabled.png');
    background-size: contain;
}
