@font-face {
    font-family: 'robotobold';
    src: url('../lib/ionic/fonts/roboto-bold-webfont.eot');
    src: url('../lib/ionic/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/roboto-bold-webfont.woff') format('woff'), url('../lib/ionic/fonts/roboto-bold-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../lib/ionic/fonts/roboto-light-webfont.eot');
    src: url('../lib/ionic/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/roboto-light-webfont.woff') format('woff'), url('../lib/ionic/fonts/roboto-light-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../lib/ionic/fonts/roboto-regular-webfont.eot');
    src: url('../lib/ionic/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/roboto-regular-webfont.woff') format('woff'), url('../lib/ionic/fonts/roboto-regular-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
img.addBoostBtn {
    width: 100px;
    bottom: 20px;
    position: relative;
    margin: 5px 5px 5px 5px;
}
.menuBar {
    /*top: -10px !important;*/
}
.completedBody {
    top: 64px !important;
}
.tutFirstBoost {
    position: relative;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    z-index: 9;
}
.tutNoFriends {
    position: relative;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 9;
}
.tut1Upcoming {
    position: relative;
    margin-top: 35%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    z-index: 9;
}
.gbIonContent_Android {
    margin-top: -14px !important;
}
.gbIonContent_iOS {
    /*margin-top: -10px !important;*/
}
.bar {
    /*top:-10px !important;*/
    /*height: 64px;  */
}
.title {
    /*top:0px !important;*/
}
.gb-scroll-content-ios {
    /*top: 64px !important;*/
}
.scroll-content {
    /*top: 64px !important;*/
}
.gb-bar-iOS {
    /*height: 64px;  */
}
.gb-bell-icon-Android {
    margin-top: 50% !important;
    margin-right: 10px !important;
}
.gb-bell-icon-iOS {
    /*margin-top: 25% !important;*/
    /*margin-right: 10px !important;*/
}
.gb-ion-content-Android {
    margin-top: 20px;
}
.gb-ion-content-iOS {
    /*top: 64px !important;*/
}
.gb-ion-content-completed-iOS {
    /*margin-top:-12px;*/
    
    top: 64px !important;
}
.gb-ion-content {
    /*top: 46px !important;*/
}
.tutBgStyle {
    background-color: #000000;
    opacity: 50%;
}
.tutStyle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 1000px;
    width: 500px;
}
.tutStyleRel {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
}
.tutImage {
    height: 100%;
    width: 100%;
}
.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}
.details {
    padding: 0px 12px 20px 12px;
}
.details img {
    float: left;
    margin-right: 12px;
}
.invite-btn {
    margin-top: 6%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98% !important;
}
.list {
    clear: both;
}
.logobarng {
    float: left;
    width: 100%;
    background: url(../img/lohobar_bg.png) repeat-x left top;
    min-height: 149px;
}
.logobarng h1 {
    float: left;
    text-align: center;
    width: 100%;
    line-height: 149px;
    margin: 0;
}
.moduser {
    float: left;
    width: 100%;
}
.moduser ul {
    float: left;
    width: 100%;
}
.moduser ul li {
    float: left;
    width: 100%;
}
.moduser ul li.firstpartbg {
    float: left;
    width: 100%;
    background: url(../img/first_bg.png) no-repeat right bottom;
    background-size: 100% 100%;
    min-height: 185px;
    margin-bottom: 5px;
}
.moduser ul li.secondpartbg {
    float: left;
    width: 100%;
    background: url(../img/second_bg.png) no-repeat left bottom;
    background-size: 100% 100%;
    min-height: 175px;
    margin-bottom: 5px;
}
.user_pic {
    float: left;
    width: 164px;
    padding: 10px 0 0 0;
    position: relative;
}
.user_pic span {
    position: absolute;
    top: 20%;
    right: 13.5%;
}
.user_pic span img {
    border-radius: 50%;
    height: 99px;
    width: 99px;
}
.userinfo {
    float: right;
    width: 80%;
    padding: 14px 0 0 0;
}
.userinfo h2 {
    float: left;
    width: 85%;
    color: #0d1825;
    font-weight: normal;
    font-family: 'robotobold';
    padding: 0 0 6px 0;
    margin: 0;
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
}
.userinfo h2 span {
    font-family: 'robotolight';
}
.userinfo h3 {
    float: left;
    width: 85%;
    font-weight: normal;
    padding: 0 0 2px 0;
    margin: 0;
    color: #3873b4;
    font-family: 'robotobold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.750em;
}
.userinfo h4 {
    float: left;
    width: 85%;
    font-weight: normal;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7090b4;
    font-size: 1.125em;
    font-family: 'robotobold';
}
.userinfo h4 span {
    font-family: 'robotolight';
}
.user_picsecond {
    float: right;
    width: 75px;
    padding: 10px 0 0 0;
    position: relative;
    text-align: right;
}
.user_picsecond span {
    position: absolute;
    top: 20%;
    right: 22.5%;
}
.user_picsecond span img {
    border-radius: 50%;
    height: 99px;
    width: 99px;
}
.userinfo_second {
    float: left;
    width: 80%;
    padding: 10px 0 0 0;
}
.userinfo_second span {
    font-family: 'robotolight';
}
.userinfo_second h2 {
    float: left;
    width: 95%;
    color: #000000;
    font-weight: normal;
    font-family: 'robotobold';
    padding: 0 0 4px 10px;
    margin: 0;
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
}
.userinfo_second h3 {
    float: left;
    width: 95%;
    font-weight: normal;
    padding: 0 0 2px 10px;
    margin: 0;
    color: #3873b4;
    font-family: 'robotobold';
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
    font-size: 1.750em;
}
.userinfo_second h4 {
    float: left;
    width: 95%;
    font-weight: normal;
    padding: 0 0 0 10px;
    margin: 0;
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
    color: #7090b4;
    font-size: 1.125em;
    font-family: 'robotobold';
}
.requests_main {
    float: left;
    width: 100%;
}
.requests_main ul {
    float: left;
    width: 100%;
    list-style: none;
}
.requests_main ul li {
    float: left;
    width: 100%;
    margin: 10px 0;
    background: url(../img/requests_bg.png) no-repeat left top;
    background-size: 100% 100%;
    min-height: 215px;
    padding: 13px 0 0 0;
}
.requests_left {
    float: left;
    width: 80%;
}
.requests_left h2 {
    float: left;
    width: 100%;
    padding: 0 0 5px 10px;
    margin: 0 0 0 0;
    color: #3873b4;
    font-size: 1.750em;
    font-weight: normal;
    font-family: 'robotobold';
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
}
.requests_left h2 span {
    font-family: 'robotolight';
}
.requests_left h3 {
    float: left;
    width: 100%;
    padding: 0 0 5px 10px;
    margin: 0 0 0 0;
    color: #3873b4;
    font-size: 1.750em;
    font-weight: normal;
    font-family: 'robotobold';
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
}
.requests_left h4 span {
    font-family: 'robotolight';
}
.requests_left h4 {
    float: left;
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
    color: #7090b4;
    font-size: 8pt;
    font-family: 'robotobold';
}
.requests_right {
    float: right;
    width: 157px;
    position: relative;
}
.requests_right span {
    position: absolute;
    top: 14.5%;
    right: 22.5%;
}
.requests_right span img {
    border-radius: 50%;
    height: 99px;
    width: 99px;
}
.btnrecn {
    float: left;
    width: 100%;
    padding: 16px 0 0 10px;
}
.btnrecn a {
    float: left;
    margin: 0 6px 0 0;
}
.btnrecn a img {
    width: 120px;
}
.moduser ul li.graypartbg {
    float: left;
    width: 100%;
    background: url(../img/gray_bg.png) no-repeat right bottom;
    background-size: 100% 100%;
    min-height: 182px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.userinfo h2.boostwill {
    float: left;
    width: 85%;
    color: #000000;
    font-weight: normal;
    font-family: 'robotobold';
    font-size: 1.750em;
    padding: 0 0 5px 0;
    margin: 0;
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
}
.userinfo h2.boostwill span {
    font-family: 'robotolight';
}
.moduser ul li.bluebg_partbg {
    float: left;
    width: 100%;
    background: url(../img/blue_bg.png) no-repeat left bottom;
    background-size: 100% 100%;
    min-height: 175px;
    margin-bottom: 5px;
}
.review_btn {
    float: left;
    width: 100%;
    padding: 15px 0 0 10px;
}
.review_btn a {
    float: left;
    width: 120px;
    height: 60px;
    margin: 0 12px 10px 0;
}
.review_btn a img {
    width: 120px;
    height: 60px;
}
.moduser ul li.greenpartbg {
    float: left;
    width: 100%;
    background: url(../img/green_bg.png) no-repeat right bottom;
    background-size: 100% 100%;
    min-height: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.accepted {
    background: #6bb770 !important;
}
.accepted a {
    text-decoration: none;
    color: #FFF;
}
.rejected {
    background: #e73548 !important;
}
.reviewed_btn {
    float: left;
    width: 100%;
    padding: 15px 0 0 10px;
}
.reviewed_btn a {
    float: left;
    width: 120px;
    height: 60px;
    margin: 0 12px 10px 0;
}
.reviewed_btn a img {
    width: 150px;
    height: 60px;
}
.boost_main {
    float: left;
    width: 100%;
}
.yourboosrhd {
    float: left;
    width: 96%;
    padding: 6px 2% 0px 2%;
    margin: 0px 0px 0px 4px !important;
    font-weight: normal;
    font-family: 'robotolight';
    font-size: 14pt !important;
}
.choose {
    float: left;
    width: 100%;
    /*background: url(../img/choose_bg.png) repeat-x left bottom;*/
    /*background-size: 100% 100%;*/
    
    background-color: #ee8c4b;
    padding: 10px 0px 2px 0px;
    margin-bottom: 12px;
}
/*.addpic{ background: url(../img/addpic.png) }*/

.addpic {
    float: left;
    width: 164px;
}
/*.addpic{ float:left; width:64px;}*/

.addpic img {
    width: 80%;
}
.txtchoose {
    float: right;
    width: 70% !important;
    font-weight: normal;
    font-family: 'robotoregular';
    color: #ffffff;
    font-size: 16pt!important;
    line-height: 120px;
}
.txtchoose a {
    text-decoration: none;
    color: #ffffff;
}
.gotogym {
    float: left;
    width: 97%;
    background: url(../img/choose_bg.png) repeat-x left bottom;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 2% 15px 2%;
    color: #3873b4;
    font-size: 16pt;
    font-family: 'robotolight';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gotogym {
    float: left;
    width: 92%;
    background: url(../img/choose_bg.png) repeat-x left bottom;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 2% 15px 2%;
    color: #3873b4;
    font-size: 16pt;
    font-family: 'robotolight';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
input[type=date] {
    -webkit-appearance: none;
    text-align: right;
    font-size: 15px;
    background-color: transparent;
}
input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
}
.headmain_hd {
    font-size: 1.563em;
    color: #FFF;
    font-family: 'robotobold';
    font-weight: normal;
    padding-top: 26px;
}
.headmain_hd {
    font-size: 1.563em;
    color: #FFF;
    font-family: 'robotobold';
    font-weight: normal;
    padding-top: 4px;
}
.subhd_hed {
    font-family: 'robotoregular';
    font-size: 9pt;
    font-weight: normal;
    color: #FFF;
}
.bar .title {
    height: 46px !important;
    line-height: 21px !important;
    margin-top: 25px !important;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
    vertical-align: top !important;
    font-size: 28px !important;
    line-height: 24px !important;
    margin-top: 4px !important;
}
.bar.bar-positive {
    background: #4b99ee;
    /*height: 64px !important;*/
    /*height: 90px !important;*/
    
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
/*.platform-ios7 .bar.bar-positive{ height: 90px !important;}*/

.count {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ed5565;
    font-size: 8pt;
    color: #FFF;
    font-family: 'robotobold';
    font-weight: normal;
    line-height: 18px;
    float: none;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 99;
    top: 0%;
    right: 5px;
}
.bar.bar-stable {
    background-color: #3873b4;
    height: 90px;
    border-color: #cad2da;
    border-bottom-width: 3px;
}
/*.ionic-scroll .list{ margin-top:14px;}*/
/*.ion-ios7-arrow-back{ margin-top:18px; display:block;}*/

.canceltext {
    font-family: 'robotolight';
    font-size: 1.375em !important;
    text-decoration: none;
    color: #FFF;
    display: block;
    cursor: pointer;
    padding-top: 27px;
}
.getbst {
    margin-top: 20px;
}
.top-padding20 {
    padding-top: 18px;
}
.tabs {
    border-color: #4b99ee;
    background-color: #4b99ee;
    color: #FFF !important;
    height: 47px;
    padding-top: 0px;
}
.tab-item {
    opacity: 1 !important;
    font-size: 8pt !important;
    font-family: 'robotoregular';
    max-width: 50%;
}
.tab-item .icon {
    margin-top: 5px;
    margin-bottom: 6px;
}
.ourlogo {
    min-height: 50px;
    line-height: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
}
.ourlogo img {
    width: 100%;
    margin-bottom: 4px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding: 0;
    min-height: 50px !important;
}
.firstpartbgtab {
    background-color: #f6f6f8;
    /*border-top: 1px solid #c6c6c6 !important;*/
    
    border-bottom: 1px solid #c6c6c6 !important;
    background-size: 9px 16px;
    background-image: url('../img/right-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.askingwill {
    color: #FFF !important;
    background: #a2a7ac;
    font-size: 1.250em;
    padding: 8px 0;
    margin: 29px 0 0 0;
    font-family: 'robotoregular';
    float: right;
    width: 100%;
    text-align: center;
}
.secondpartbgtab {
    background-size: 100% 100%;
    border-bottom: 1px solid #c6c6c6 !important;
}
.requestlistbg {
    margin: 0;
    background: none;
    padding: 4px 0;
}
/*.requestlist01{
  margin-top : 24px !important;
}*/

.graypartbgtab {
    background-color: #f6f6f7;
    min-height: 50px !important;
}
.waitinglink {
    color: #FFF;
    text-decoration: none;
    font-family: 'robotoregular';
}
.bluebg_partbgtab {
    background: url(../img/blue_bg.png) no-repeat left bottom;
    background-size: 100% 100%;
    min-height: 175px;
    margin-bottom: 5px;
}
.greenpartbgtab {
    background-color: #d6e8d8;
    min-height: 50px !important;
}
.myinpbg {
    background: #739dca;
    border-radius: 23px !important;
    margin-top: 10px;
}
.userpiclist {
    border-radius: 50% !important;
    width: 50% !important;
}
.ourlistview {
    overflow: auto !important;
    min-height: 100px !important;
    padding-left: 111px;
    position: relative;
}
.listhd {
    color: #010101;
    font-family: 'robotolight';
    font-weight: normal;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #b7b7b7;
    padding: 9px 5px 12px 5px;
}
.smollpic {
    position: absolute;
    left: 60px;
    bottom: 0;
}
.invitebtn {
    float: right;
    margin-top: -35px;
}
.invitebtn img {
    width: 110px;
}
.myinpbox {
    color: #FFF !important;
    font-family: 'robotoregular';
    font-size: 1.250em !important;
    line-height: 150% !important;
}
.ouriconser {
    color: #FFF;
    font-size: 1.250em !important;
}
::-webkit-input-placeholder {
    color: #FFF !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #FFF !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #FFF !important;
}
:-ms-input-placeholder {
    color: #FFF !important;
}
.willsmith {
    font-family: 'robotoregular';
    color: #3873b4;
    font-size: 2.500em !important;
    text-align: center;
    padding: 3% 0;
}
.clntpartbg {
    background: #f6f6f7;
    padding: 6px 0;
    text-align: center;
}
.ourwrap {
    margin: 0;
}
.ourinnerwrap {
    padding: 0;
}
.clntpartbg span {
    padding: 0 10px 0 10px;
}
.clntpartbg span img {
    border-radius: 50%;
}
.clntpartbg span.dlfrad img {
    border-radius: 0;
}
.totip {
    text-align: center;
    color: #000;
    font-size: 2.250em;
    font-family: 'robotolight';
    font-weight: normal;
    padding: 3% 0;
}
.gotogymhdfgy {
    text-align: center;
    color: #000;
    font-family: 'robotobold';
    font-size: 4.063em;
    padding: 4% 0;
}
.tackbtn {
    background: #b5d0ee !important;
    border: 6px solid #b5d0ee !important;
    border-radius: 8px;
    width: 98% !important;
    margin: 0 1% 0 1%;
    font-family: 'robotobold';
    text-transform: uppercase;
    font-size: 2.813em;
    padding: 20px 0;
}
.takeSelfieDisabled {
    margin: 0 5% 0 5%;
    width: 90%;
}
.imgcemn img {
    width: 45px;
}
.gotoouty {
    background: #48bd3c !important;
    margin: 0 2%;
    width: 96%;
    border: 1px solid #dedede;
    color: #ffffff;
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 14pt;
    padding: 10px 0 10px 15px;
}
.tbndate {
    width: 90%;
    margin: 10px 5% 0px 5%;
    padding: 10px 2% 15px 2%;
}
.ourrowlist {
    width: 100%;
    background: #7284cb !important;
    border: 1px solid #dedede;
    height: 46px;
}
.dateleft {
    font-family: 'robotolight';
    font-weight: normal;
    color: #000000;
    font-size: 16pt;
}
.daymonth {
    font-family: 'robotolight';
    font-weight: normal;
    color: #3873b4;
    font-size: 16pt;
    text-align: right;
    padding-right: 0px;
}
.alertbtnm {
    width: 100%;
    background: #7284cb !important;
}
.btntopspnk {
    padding-top: 10px;
}
.botlogoboost {
    background: url(../img/botlogo.png) repeat-x left top;
    background-size: 100% 100%;
    min-height: 144px;
    line-height: 144px;
    text-align: center;
}
.tpasking {
    margin: 35px 0 0 0;
}
.item-complex .item-content {
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
    margin-bottom: 2px;
}
@media all and (max-width: 968px) and (min-width: 770px) {
    .userinfo {
        width: 75%;
    }
    .userinfo_second {
        width: 75%;
    }
    .requests_left {
        width: 75%;
    }
    .review_btn a img {
        width: 80px;
        height: 55px;
    }
    .reviewed_btn a img {
        width: 120px;
        height: 57px;
    }
    .txtchoose {
        width: 78%;
    }
}
@media all and (max-width: 769px) and (min-width: 550px) {
    .userinfo {
        width: 69%;
    }
    .userinfo_second {
        width: 69%;
    }
    .requests_left {
        width: 65%;
    }
    .btnrecn a {
        width: 91px;
        height: 68px;
    }
    .btnrecn a img {
        width: 100px;
        height: 63px;
    }
    .requests_right {
        width: 118px;
    }
    .requests_right img {
        width: 100%;
    }
    .requests_right span img {
        width: 74px;
        height: 74px;
    }
    .review_btn a img {
        width: 97px;
        height: 55px;
    }
    .reviewed_btn a img {
        width: 120px;
        height: 57px;
    }
    .txtchoose {
        width: 70%;
        color: #3873b4;
    }
    .clntpartbg span img {
        width: 100px;
        height: 100px;
    }
    .clntpartbg span.dlfrad img {
        width: 100px;
        height: 80px;
    }
}
@media all and (max-width: 549px) and (min-width: 480px) {
    .userinfo {
        width: 69%;
    }
    .user_pic {
        width: 144px;
    }
    .user_pic img {
        width: 100%;
    }
    .user_pic span img {
        height: 87px;
        width: 87px;
    }
    .userinfo_second {
        width: 69%;
    }
    .user_picsecond {
        width: 144px;
    }
    .user_picsecond img {
        width: 100%;
    }
    .user_picsecond span img {
        height: 90px;
        width: 90px;
    }
    .requests_left {
        width: 69%;
    }
    .btnrecn a {
        width: 91px;
        height: 68px;
    }
    .btnrecn a img {
        width: 100px;
        height: 63px;
    }
    .requests_right span {
        width: 132px;
    }
    .requests_right span img {
        width: 95px;
        height: 95px
    }
    .requests_right span {
        top: 15%;
        right: -25.5%;
    }
    .requests_right {
        width: 118px;
    }
    .requests_right img {
        width: 100%;
    }
    .requests_right span img {
        width: 74px;
        height: 74px;
    }
    .review_btn a img {
        width: 94px;
        height: 55px;
    }
    .reviewed_btn a img {
        width: 120px;
        height: 57px;
    }
    .txtchoose {
        width: 67%;
    }
    .addpic {
        width: 158px;
    }
    .ourlogo img {
        width: 100%;
    }
    .clntpartbg span img {
        width: 80px;
        height: 80px;
    }
    .clntpartbg span.dlfrad img {
        width: 80px;
        height: 65px;
    }
}
@media all and (max-width: 479px) and (min-width: 100px) {
    .userinfo {
        width: 72%;
    }
    .user_pic {
        width: 75px;
    }
    .user_pic img {
        width: 100%;
        position: relative;
    }
    .user_pic span {
        top: 23%;
    }
    .user_pic span img {
        height: 50px;
        width: 50px;
        left: -52px !important;
        top: 1px !important;
        position: absolute !important;
    }
    .userinfo_second {
        width: 69%;
    }
    .user_picsecond {
        width: 75px;
        margin-right: 8px;
        margin-bottom: 10px;
    }
    .user_picsecond img {
        width: 100%;
    }
    .user_picsecond span img {
        height: 60px;
        width: 60px;
    }
    .user_picsecond span {
        top: 25%;
        right: 24.5%;
    }
    .logobarng h1 img {
        width: 70%;
    }
    .userinfo h2 {
        font-size: 11pt;
        line-height: 1.3;
    }
    .userinfo h3 {
        font-size: 11pt;
        line-height: 1.3;
        margin-bottom: 2px;
    }
    .userinfo h4 {
        font-size: 10pt;
        line-height: 1;
        padding-bottom: 10px;
    }
    .userinfo_second h2 {
        font-size: 11pt;
        line-height: 1.3;
    }
    .userinfo_second h3 {
        font-size: 11pt;
        line-height: 1.3;
        margin-bottom: 2px;
    }
    .userinfo_second h4 {
        font-size: 10pt !important;
        line-height: 1.3;
        margin-bottom: 2px;
    }
    .userinfo {
        padding: 8px 0 0 0;
    }
    .requests_left {
        width: 69%;
    }
    .requests_right {
        width: 73px;
    }
    .requests_right img {
        width: 100%;
    }
    .user_picsecond img {
        width: 100%;
    }
    .requests_right span {
        top: 15%;
        right: 23.5%;
    }
    .requests_right span img {
        height: 50px;
        width: 50px;
    }
    .btnrecn a {} .btnrecn a img {
        width: 75px;
    }
    .requests_left h2 {
        font-size: 10pt;
        line-height: 1.3;
    }
    .requests_left h3 {
        font-size: 10pt;
        line-height: 1;
    }
    .requests_left h4 {
        font-size: 8pt;
        line-height: 1;
    }
    .requests_main ul li {
        min-height: 175px;
    }
    .review_btn a img {
        width: 78px;
        height: 44px;
    }
    .moduser ul li.graypartbg {
        min-height: 155px;
    }
    .reviewed_btn a img {
        width: 120px;
        height: 57px;
    }
    .moduser ul li.greenpartbg {
        min-height: 155px;
    }
    .moduser ul li.firstpartbg {
        min-height: 159px;
    }
    .moduser ul li.secondpartbg {
        min-height: 122px;
    }
    .userinfo h2.boostwill {
        font-size: 14pt;
    }
    .txtchoose {
        width: 67%;
    }
    .addpic {
        width: 80px;
    }
    .addpic img {
        width: 100%;
    }
    .txtchoose {
        line-height: 70px;
        font-size: 20pt;
    }
    .gotogym {
        margin: 10px 5% 20px 5%;
        padding: 4px 0 0 0;
        background: #4bbd3c;
        color: #ffffff;
        font-size: 13pt;
        width: 90%;
    }
    .gotogym label {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .headmain_hd {
        font-size: 11pt;
        margin-top: -6px;
        margin-bottom: -3px;
    }
    .firstpartbgtab {
        min-height: 151px;
    }
    .askingwill {
        /*margin: 8px 0 0 0;*/
        
        margin: 0;
        padding: 0;
        font-size: 8pt;
    }
    /*.secondpartbgtab{ /min-height:80px; line-height:80px; }*/
    
    .bluebg_partbgtab {
        min-height: 144px;
    }
    .review_btn {
        padding: 12px 0 0 10px;
    }
    .review_btn a {
        height: 45px;
    }
    .userpiclist {
        border-radius: 50% !important;
        width: 50% !important;
    }
    .ourlistview {
        padding-left: 80px;
    }
    .smollpic {
        position: absolute;
        left: 32px;
        bottom: 0;
        width: 20px;
        top: 36px;
    }
    .listhd {
        font-size: 1.250em !important;
    }
    .invitebtn img {
        width: 80px;
    }
    .ourlistview {
        min-height: 78px !important;
    }
    .clntpartbg span img {
        width: 80px;
        margin-bottom: 4px;
    }
    .clntpartbg span {
        padding: 0 5px 0 5px;
    }
    /*.clntpartbg span.dlfrad img{ width:80px; height:65px;}*/
    
    .willsmith {
        font-size: 1.563em !important;
        padding: 9% 0 4% 0;
    }
    .tackbtn {
        font-size: 1.563em;
        padding: 11px 0;
        border: 3px solid #b5d0ee !important;
        width: 96% !important;
        margin: 0 2% 0 2%;
    }
    .gotogymhdfgy {
        font-size: 2.188em;
    }
    .dateleft {
        font-size: 13pt;
        padding-top: 3px;
        padding-left: 8px;
    }
    .daymonth {
        font-size: 12pt;
    }
    .botlogoboost {
        min-height: 80px;
        line-height: 80px;
        text-align: center;
    }
    .botlogoboost img {
        width: 75%;
    }
}
.pokeIcon {
    width: 60px;
    position: absolute;
    margin-top: 58px;
    margin-left: -17px;
    vertical-align: middle;
    z-index: 100
}
.icon-big {
    font-size: 1.5em !important
}
/*.button-top25{margin-top:35px !important;}*/

::-webkit-input-placeholder {
    color: #E1E1E1 !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #E1E1E1 !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #E1E1E1 !important;
}
:-ms-input-placeholder {
    color: #E1E1E1 !important;
}
.c-login {
    text-align: center;
}
.c-login h2, h4, small {
    color: #AAAAAA !important
}
;
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
hr.style-four {
    height: 6px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px black;
}
hr.style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}
.not-head {
    font-size: 1.250em !important;
    margin-left: 32px !important;
}
.rg1 {
    width: 25px !important;
    margin-left: -29px;
    position: relative;
}
.rg2 {
    /*height: 100px !important;*/
}
.rg3 {
    margin-top: 1px!important;
    position: absolute!important;
    margin-left: -45px!important;
    height: 50px !important;
    width: 50px !important;
}
.rg4 {
    width: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.rg4a {
    width: 37px;
}
.rg4b {
    width: 33px;
}
.rg6 {
    padding-top: 5px !important;
}
.rg7 {
    border-color: transparent!important;
}
.rg8 {
    padding: 0px 0px 4px 0px !important;
}
.rg9 {
    padding: 3px 0px 0px 2px !important;
}
.rg10 {
    height: 36px !important;
    margin-top: -4px !important;
}
.rg10 input {
    margin-top: -4px !important;
    color: #ffffff;
    font-size: 10pt;
    padding-top: 9px !important;
}
.rg10a {
    height: 36px !important;
    margin: 30px 5% 10px 5% !important;
    width: 90% !important;
    border: 1px solid #d7d7d7;
    /*xborder-top-color: transparent;*/
}
.rg10b {} .rg11 {
    padding: 6px 32px 6px 2px !important;
}
.rg12 {
    margin-top: 40px !important;
    background: transparent !important;
    line-height: initial !important;
    min-height: initial !important;
    border: none !important;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.rg13 {
    padding-top: 33px !important;
    width: 65% !important;
    margin-top: 15px;
    margin-bottom: 10px;
}
.rg14 {
    width: 100% !important;
}
.rg15 {
    margin: 20px 10px 0px 10px !important;
}
.rg16 {
    margin: 10px 0 8px 4px !important;
}
.rg17 {
    padding: 0px 0px 0px 80px !important;
    min-height: 54px!important;
    border: none !important;
}
.rg18 {
    top: 5px !important;
}
.rg19 {
    padding-top: 14px !important;
}
.rg20 {
    height: 38px !important;
}
.rg21 {
    /*margin-top: -2px !important;*/
}
.rg22 {
    margin-right: 5px !important;
}
.rg23 {
    margin-left: 5px !important;
}
.rg24 {
    margin-top: -6px !important;
}
.rg25 {
    border: none !important;
    padding: 0px !important;
    background: none !important;
}
.rg26 {
    height: 100% !important;
    width: 100% !important;
}
.rg27 {
    height: 50px !important;
    width: 50px !important;
    position: absolute !important;
    right: -5px !important;
    top: 0px !important;
}
.rg28 {
    color: #000000 !important;
}
.rg29 {
    margin-top: 15px !important;
}
.rg30 {
    margin-right: 10px !important;
}
.rg31 {
    color: #000000 !important;
    font-size: 10pt !important;
    line-height: 1.3 !important;
    padding: 0px !important;
    margin-left: 0px !important;
}
.rg31 b:nth-of-type(2) {
    color: #4082ca !important;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 8px !important;
    left: 6px;
    max-width: 40px !important;
    max-height: 40px !important;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    min-height: 52px !important;
    padding: 0px 20px 8px 65px !important;
    border-left: 8px solid #574bee;
}
.newNotif {
    background-color: #FFFFFF;
}
.oldNotif {
    background-color: #EEEEEE;
}
.notif-item-left-border {
    min-height: 52px !important;
    padding: 0px 20px 8px 65px !important;
    border-left: 8px solid #FF0000;
}
.AcceptBoost {
    border-left: 8px solid #48bd3c !important;
}
.Selfie {
    border-left: 8px solid #574bee !important;
}
.BoostRequest {
    border-left: 8px solid #48bd3c !important;
}
.Review {
    border-left: 8px solid #574bee !important;
}
.UpdateBoost {} .Time {
    border-left: 8px solid #48bd3c !important;
}
.Poke {} .Late {} .Editted {} .Deleted {} .LevelUp {} .FriendJoined {}
/*.item-avatar:focus {
  background-color: #f6f6f8;
}
.item-avatar:hover {
  background-color: #f6f6f8;
}
.item-avatar:target {
  background-color: #f6f6f8;
}*/

.rg32 {
    width: 90%;
    display: block;
    margin: 10px auto;
}
.rg33 {
    background: none !important;
    padding-left: 0px !important;
    border: none !important;
    font-size: 17pt !important;
}
.rg34 {
    border: none !important;
    padding: 0px !important;
}
.rg35 {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    background-color: #ffffff;
}
.rg36 {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px !important;
}
/*.button-top16 {  margin-top: 16px !important;}*/

.rg37 {
    background: #222221 !important;
}
.rg38 {
    margin-top: 22px !important;
}
.rg39 {
    background: #2c2c2c !important;
}
.rg40 {
    border: none !important;
}
.rg41 {
    background: #2c2c2c !important;
    color: #ffffff !important;
    border-bottom: 3px solid #343434 !important;
    margin-bottom: 0px !important;
}
.rg42 {
    margin-top: -10px !important;
    background: none !important;
    border: none !important;
}
.rg43 {
    height: 80px !important;
    width: 80px !important;
}
.rg43a {
    height: 40px !important;
    width: 40px !important;
    margin-left: 68px
}
.rg44 {
    /*margin-left: 20px;*/
    
    margin-top: 20px;
}
.rg45 {
    min-height: 44px !important;
    padding-top: 54px !important;
    padding-left: 16px !important;
}
.rg45a {
    padding-top: 34px !important;
    padding-left: 48px !important;
}
.rg46 {
    min-height: 115px !important;
}
.rg46a {
    min-height: 70px !important;
    margin-top: -20px !important;
}
.rg47 {
    color: #3873b4 !important;
}
.rg48 {
    border: none !important;
    background: none !important;
    color: #3873b4 !important;
    line-height: 1;
    margin-top: -14px;
    width: 45%;
    text-align: center !important;
}
.rg48a {
    border: none !important;
    line-height: 1;
    background: none!important;
    color: #4a98ee !important;
    padding: 0px;
    width: 55%;
    margin-top: -15px;
    margin-left: 15px;
    text-align: center !important;
}
.rg49 {
    color: #4a98ee !important;
}
.rg50 {
    border: none !important;
    background: url('../img/profile02.png') !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    padding: 0px 0px 10px 0px;
}
.rg51 {
    background: url('../img/profile01.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.rg52 {
    font-size: 40pt;
    color: #3873b4;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.1;
    font-family: 'robotobold';
}
.rg53 {
    font-size: 16pt;
    margin-top: 5px;
    padding-bottom: 5px;
}
.rg54 {
    text-align: center;
    margin-bottom: 10px;
    display: inherit;
    margin-top: 5px;
    line-height: 1;
    font-size: 32px;
    text-transform: capitalize;
    line-height: 1;
}
.rg55 {
    border: none !important;
}
.rg56 {
    background-color: #e6f1fd !important;
    color: #000000 !important;
}
.rg57 {
    margin-top: -10px !important;
    color: #3873b4 !important;
}
.rg58 {
    /*line-height: 24px !important;*/
}
.rg59 {
    margin-top: 18px !important;
}
.rg60 {
    /*  height: 48px !important;
  width: 48px !important;
  top: -4px !important;
  position: absolute !important;
  left: -51px !important;*/
}
.margin-top6 {
    margin-top: 6px !important;
}
.rg61 {
    height: 50px !important;
    width: 50px !important;
    position: absolute !important;
    right: -5px !important;
    top: 0 !important;
}
.rg62 {
    font-size: 11pt !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    line-height: 1.3 !important;
}
.rg62b {
    padding-bottom: 4px !important;
}
.rg60a {
    color: #000000 !important;
    padding-bottom: 5px !important;
}
.rg63 {
    width: 30% !important;
    position: absolute !important;
    right: 7px !important;
    bottom: 5px !important;
}
.rg64 {
    width: 9px !important;
    position: absolute !important;
    right: 6px !important;
    top: 32px !important;
}
.rg65 {
    height: 55px !important;
    width: 55px !important;
    position: absolute !important;
    top: 3px !important;
    left: -57px !important;
}
.rg66 {
    /*margin-top: 26px !important;*/
    
    margin-top: -2px !important;
}
.rg67 {
    width: 28px !important;
    display: inline-block !important;
    border-radius: 50% !important;
    float: left;
    margin: 2px 0 2px 80px;
}
.rg68 {
    display: inline-block !important;
    color: #000000 !important;
    font-size: 13pt !important;
    padding-top: 6px !important;
    padding-left: 5px !important;
}
.rg69 {
    font-size: 15pt;
    color: #000000;
    text-align: center;
    font-family: 'robotoregular';
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f6f6f7;
    margin-bottom: 2px;
}
.rg70 {
    padding: 0px !important;
    border: none !important;
}
.rg71 {
    background-color: #e1eefc;
    padding: 0px 25px;
    height: 272px;
    overflow: hidden;
}
.rg72 {
    padding-top: 7px !important;
    padding-left: 25px !important;
    font-size: 15pt !important;
    color: #3873b4 !important;
    background-color: #e9e9eb !important;
    padding-bottom: 7px !important;
    width: 95% !important;
    margin-right: 5% !important;
    margin-bottom: 2px !important;
    margin-top: 4px !important;
    font-weight: 300;
}
.rg72a {
    padding-top: 7px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: 15pt !important;
    color: #3873b4 !important;
    background-color: #e9e9eb !important;
    padding-bottom: 7px !important;
    width: 95% !important;
    margin-left: 5% !important;
    margin-bottom: 2px !important;
    text-align: right !important;
    font-weight: 300;
}
.rg72b {
    padding-top: 7px !important;
    padding-left: 25px !important;
    font-size: 15pt !important;
    color: #3873b4 !important;
    background-color: #e9e9eb !important;
    padding-bottom: 7px !important;
    width: 100% !important;
    margin-bottom: 2px !important;
    margin-top: 4px !important;
    font-weight: 300;
    text-transform: capitalize;
}
.rg73 {
    font-size: 20pt !important;
    margin-top: 8px !important;
    margin-left: -8px !important;
}
.rg74 {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    display: block;
}
.rg75 {
    width: 49%;
    float: left;
}
.gb1 {
    width: 90%;
    float: left;
}
.gb2 {
    width: 90%;
    float: right;
}
.rg76 {
    width: 49%;
    float: right;
}
.rg77 {
    width: 90% !important;
    margin-left: 5% !important;
    background-color: #e9e9eb;
    height: 35px !important;
}
.rg77 input {
    color: #3873b4 !important;
}
.selfie_comment {
    color: #000000;
}
.rg78 {
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 10px !important;
}
.rg79 {
    width: 96% !important;
    margin-left: 2% !important;
}
.rg80 {
    display: inline-block !important;
}
.bg-green {
    background-color: #48bd3c;
    border: none;
}
.bg-green:focus, .bg-green:hover, .bg-green:target {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}
.bg-orange:focus, .bg-orange:hover, .bg-orange:target {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}
.bg-purple:focus, .bg-purple:hover, .bg-purple:target {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}
.bg-orange {
    background-color: #ee8c4b;
    border: none;
}
.bg-purple {
    background-color: #574bee;
    border: none;
}
.border-none {
    border: none !important;
    background-color: transparent !important;
}
.count-bottom {
    top: -5px;
    left: 170px;
}
.margin-top38 {
    margin-top: 38px !important;
}
.width100 {
    width: 100% !important;
}
.rg75a {
    width: 60%;
    float: left;
    margin-left: 1%;
}
.rg76a {
    width: 37%;
    float: right;
}
.editboostpic {
    height: 50px !important;
    width: 50px !important;
    position: absolute;
    left: -49px;
    top: 1px;
}
.orange-background {
    background: #ee8c4b !important;
}
.new-color-edit {
    color: #ffffff !important;
    line-height: 80px !important;
}
.height20 {
    height: 20px !important;
}
.color-blue {
    color: #145fd7 !important;
}
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.new-menu01 {
    display: inline-block;
}
.new-menu01 img {
    width: 50%;
}
.new-menu02 {
    width: 50px;
    display: inline-block;
    text-align: center;
    margin-left: -10px;
}
.new-menu03 {
    position: relative;
    bottom: 4px;
    display: inline-block;
}
.height01 {
    background-color: #e1eefc;
}
