<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">

<!--
<div class='tutNoFriends'>
   <img src={{noFriendsPngPath}}> 
 </div>
-->

<!--
<div ng-show="isTutChooseBooster" ng-click="showTutChooseBooster(false)" class="tutStyleRel">
  <img src="img/add_joy.png" style="height: 100%; width: 100%;">
</div>
-->
<ion-view hide-back-button="false">
  <ion-nav-buttons>
    <h1 class="title">
      <div class="headmain_hd">Choose Your Booster</div>
    </h1>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <img src="img/invite-btn.png" class="invite-btn" ng-click="invite()" />
    <ion-list>
      <ion-item class="item item-avatar ourlistview rg17" ng-repeat="booster in boosters | filter:{ name: search}" ng-click="selectBoost(booster)">
        <!-- <img class="userpiclist rg18" ng-src="{{ booster.picture.data.url }}"   alt="">-->
        <img class="userpiclist rg18" ng-src="{{ booster.picUrl }}" alt="">
        <img class="smollpic" src="img/smollioc.png" alt="">
        <h2 class="listhd rg19">{{ booster.name }}</h2>
      </ion-item>
    </ion-list>

    <!-- <div class="list">
            <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/josef.png" alt="">
              <img class="smollpic" src="img/smollioc.png" alt="">
              <h2 class="listhd rg19">Will Smith</h2>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/lopez_view.png" alt="">
              <img class="smollpic" src="img/smollioc.png" alt="">
              <h2 class="listhd rg19">Jennifer Lopez</h2>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/gal.png" alt="">
              <img class="smollpic" src="img/smollioc.png" alt="">
              <h2 class="listhd rg19">Gal Gadot</h2>
              </a>
              
               <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/leonardo.png" alt="">
              <img class="smollpic" src="img/smollioc.png" alt="">
              <h2 class="listhd rg19">Leonardo DiCaprio</h2>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/megan.png" alt="">
              <img class="smollpic" src="img/smollioc.png" alt="">
              <h2 class="listhd rg19">Megan Fox</h2>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/brad.png" alt="">
              <img class="smollpic" src="img/smloff.png" alt="">
              <h2 class="listhd rg19">Brad Pitt</h2>
              <span class="invitebtn"><img src="img/invite_btn.png" alt="" /></span>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/tom.png" alt="">
              <img class="smollpic" src="img/smloff.png" alt="">
              <h2 class="listhd rg19">Tom Hanks</h2>
              <span class="invitebtn"><img src="img/invite_btn.png" alt="" /></span>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/bar.png" alt="">
              <img class="smollpic" src="img/smloff.png" alt="">
              <h2 class="listhd rg19">Bar Refaeli</h2>
              <span class="invitebtn"><img src="img/invite_btn.png" alt="" /></span>
              </a>
              
              <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/kanye.png" alt="">
              <img class="smollpic" src="img/smloff.png" alt="">
              <h2 class="listhd rg19">Kanye West</h2>
              <span class="invitebtn"><img src="img/invite_btn.png" alt="" /></span>
              </a>
              
            <a class="item item-avatar ourlistview rg17" href="#">
              <img class="userpiclist rg18" src="pics/curtis.png" alt="">
              <img class="smollpic" src="img/smloff.png" alt="">
              <h2 class="listhd rg19">Curtis Jackson</h2>
              <span class="invitebtn"><img src="img/invite_btn.png" alt="" /></span>
              </a>
            
        
        </div>-->



  </ion-content>

</ion-view>

<!--
<style type="text/css">
    .headmain_hd {
    margin-top: 12px !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
-->
