<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">
<ion-view hide-back-button="true">

  <ion-nav-buttons side="left">
    <a class="canceltext" href="#">Cancel</a>
  </ion-nav-buttons>
  <ion-nav-buttons>
    <h1 class="title">
            <div class="headmain_hd getbst">Edit Boost</div>
        </h1>
  </ion-nav-buttons>

  <ion-content class="has-header">


    <div class="list">

      <div class="item item-thumbnail-left">
        <h2 class="yourboosrhd">Your Booster:</h2>
        <div class="choose">
          <!--<div class="addpic"><a href="#"><img src="img/addpic.png" alt=""></a></div>-->
          <div class="user_pic">
            <img src="img/pic_frem.png" alt="" />
            <span><img src="pics/mac.png" alt="" /></span>
          </div>
          <div class="txtchoose">Will Smith</div>
        </div>
        <h2 class="yourboosrhd">Get a Boost to:</h2>
        <div style="clear:both;"></div>
        <div class="gotoouty">Go To Gym</div>
      </div>

      <div class="tbndate">
        <div class="row ourrowlist">
          <div class="col col-50 dateleft">
            Date + Time
          </div>
          <div class="col col-50 daymonth">
            <input type="datetime" />
          </div>
        </div>
        <div class="row alertbtnm">
          <div class="col col-50 dateleft">Alert</div>
          <div class="input-select">
            <select style="width:100% !important">
              <option>-- Select --</option>
              <option>10 minutes before</option>
              <option>15 minutes before</option>
              <option>20 minutes before</option>
              <option>25 minutes before</option>
              <option>30 minutes before</option>
            </select>

          </div>
        </div>
        <div class="btntopspnk">
          <button class="button button-block button-positive tackbtn">
            Save Changes
          </button>
        </div>
      </div>



    </div>



  </ion-content>
</ion-view>
