<link rel="stylesheet" type="text/css" href="http://lin-res.mapitpix.com/Booster/ionic_git/www/css/style.css">
<style type="text/css">
.headmain_hd {
  margin-top: 12px !important;
  font-size: 13pt !important;
}
.button.button-clear {
  font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons {
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
<ion-view hide-back-button="false">
  <!--<ion-nav-buttons side="left" >
    <a class="button button-clear button-top25" href="#/app/upcoming">
      Cancel
    </a>
  </ion-nav-buttons>-->
  <ion-nav-buttons>
    <h1 class="title">
      <div class="headmain_hd getbst">{{details.Text}}</div>
    </h1>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list rg66">
      <div class="item rg70 rg79" align='center'>

        <center>
          <img class="rg67" src="{{details.RequestPicUrl}}" />
          <h2 class="positive rg68">{{details.RequestUserName}}</h2>
          <div style="clear: both;">
          </div>
        </center>

        <img style="width:100%;" src="data:image/JPEG;base64,{{selfie.image}}" />

        <div>
          <input type="text" placeholder="Comment" style="background-color:#444444; color:#EEEEEE;" ng-model="selfie.comment">
        </div>

        <div class="rg75">
          <img src="img/sendnshare-btn.png" class="width100" ng-click="sendSelfie(true)" />
        </div>
        <div class="rg76">
          <img src="img/send-btn.png" class="width100" ng-click="sendSelfie(false)" />
        </div>

      </div>
      <!-- <img  src="img/send-btn.png" class="rg78" ng-click="sendSelfie()">          -->
    </div>
  </ion-content>
</ion-view>
