@import "../bower/ionic-bower/scss/mixins";

.jr-crop {
  background-color: #000;
}

.jr-crop-center-container {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  position: absolute;
  width: 100%;
  height: 100%;
}

.jr-crop-img {
  opacity: 0.6;
}

.bar.jr-crop-footer {
  border: none;
  background-color: transparent;
  background-image: none;
}